<!-- <app-checkbox></app-checkbox>
<app-radio></app-radio>
<h3>Select</h3>
<app-select></app-select>
<app-input></app-input>
<app-textarea></app-textarea> 
<app-datepicker></app-datepicker>
<app-icon></app-icon>
<app-button></app-button>
<app-chips></app-chips>
<app-progresspiner></app-progresspiner>
<app-tooltips></app-tooltips>
<app-tabs></app-tabs>
<app-dialog></app-dialog>-->
<button color="primary" md-raised-button>Button 1</button>
<button color="accent" md-raised-button>Button 3</button>
<button color="warn" md-raised-button>Button 3</button>